---
import PercentageBar from "./PercentageBar.astro";
import PercentageCircle from "./PercentageCircle.astro";
import KilowattsRange from "./KilowattsRange.astro";
import RowPrice from "./RowPrice.astro";

interface Props {
  label: string;
  prices: {
    AC: { price: number; kw_from: number; kw_to: number } | null;
    DC: { price: number; kw_from: number; kw_to: number } | null;
    UFC: { price: number; kw_from: number; kw_to: number } | null;
  };
  maxPrice: {
    AC: number;
    DC: number;
    UFC: number;
  };
  monthlyFee: number;
  logo_url: string;
}

const { label, prices, maxPrice, monthlyFee, logo_url } = Astro.props;
---

<div data-monthly-fee={monthlyFee}>
  <div class="grid grid-cols-4">
    <div class="col-span-1 borderline rowcell rowcell-first">
      {
        logo_url && (
          <img
            src={logo_url}
            alt={`${label} logo`}
            class="w-16 h-8 object-contain"
          />
        )
      }
      <div>
        <RowPrice price={monthlyFee} label="czk/month"/>
      </div>
    </div>
    <div class="col-span-1 borderline rowcell" style={`${!prices.AC ? "opacity: 0.2;" : ""}`}>
      <KilowattsRange
        from={prices.AC?.kw_from}
        to={prices.AC?.kw_to}
        label="kW"
      />
      <RowPrice price={prices.AC?.price} />
      <PercentageBar
        value={prices.AC?.price || 0}
        max={maxPrice.AC}
        type="bar"
      />
      <!-- <PercentageCircle value={prices.AC.price} max={maxPrice.AC}/> -->
    </div>
    <div class="col-span-1 borderline rowcell">
      <KilowattsRange
        from={prices.DC?.kw_from}
        to={prices.DC?.kw_to}
        label="kW"
      />
      <RowPrice price={prices.DC?.price} />
      <PercentageBar
        value={prices.DC?.price || 0}
        max={maxPrice.DC}
        type="dc"
      />
      <!-- <PercentageCircle value={prices.DC.price} max={maxPrice.DC}/> -->
    </div>
    <div class="col-span-1 rowcell">
      <KilowattsRange
        from={prices.UFC?.kw_from}
        to={prices.UFC?.kw_to}
        label="kW"
      />
      <RowPrice price={prices.UFC?.price} />
      <PercentageBar
        value={prices.UFC?.price || 0}
        max={maxPrice.UFC}
        type="ufc"
      />
      <!-- <PercentageCircle value={prices.UFC.price} max={maxPrice.UFC}/> -->
    </div>
  </div>
</div>

<style>
  .borderline {
    border-right: 1px solid rgba(0, 229, 160, 0.12);
  }
  .rowcell {
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    align-items: center;
    align-content: baseline;
    padding: 0.3rem;
    /* text-align: center; */
  }
  .rowcell-first {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: baseline;
    padding: 0.3rem;
    /* text-align: center; */
  }
  /* .czk-currency {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 2px;
  }
  .monetary-value {
    font-size: 0.875rem;
    font-weight: 600;
  } */

  .monthly-fee-value {
    /* color: rgba(255, 255, 255, 0.8); */
    font-size: 1.1rem;
  }
</style>
