---
import PercentageBar from "./PercentageBar.astro";
import PercentageCircle from "./PercentageCircle.astro";
import KilowattsRange from "./KilowattsRange.astro";
import RowPrice from "./RowPrice.astro";
import BackgroundGrid from "./BackgroundGrid.astro";

interface Props {
  label: string;
  prices: {
    AC: { price: number; kw_from: number; kw_to: number } | null;
    DC: { price: number; kw_from: number; kw_to: number } | null;
    UFC: { price: number; kw_from: number; kw_to: number } | null;
  };
  maxPrice: {
    AC: number;
    DC: number;
    UFC: number;
  };
  monthlyFee: number;
  logo_url: string;
}

const arr = Array.from({ length: 35 }, (_, i) => i);

const { label, prices, maxPrice, monthlyFee, logo_url } = Astro.props;
const pricesToKw = Object.fromEntries(
  Object.entries(prices).map(([key, val]) => [
    key,
    val
      ? {
          ...val,
          kw_from: Math.ceil(val.kw_from / 10),
          kw_to: Math.ceil(val.kw_to / 10),
        }
      : null,
  ]),
);
---

<div class="kw-row">
  <!-- <div class="absolute grid grid-cols-5 left-0 right-0 z-1 ">
    <div class="col-span-4">
      <BackgroundGrid legend={false} />
    </div>
  </div>
  <div class="grid grid-cols-35 gap-0 relative z-2 ">
    {pricesToKw.AC && (
      <div
        class="price-cover price-ac"
        style=`grid-column: ${pricesToKw.AC.kw_from} / span ${pricesToKw.AC.kw_to - pricesToKw.AC.kw_from}`
      >
      </div>
    )}
    {pricesToKw.DC && (
      <div
      class="price-cover price-dc"
      style=`grid-column: ${pricesToKw.DC?.kw_from} / span ${(pricesToKw.DC?.kw_to - pricesToKw.DC?.kw_from)}`
    >
    </div>
    )}
    <div
      class="price-cover price-ufc"
      style=`grid-column: ${pricesToKw.UFC?.kw_from} / span ${((pricesToKw.UFC?.kw_to || 0) - (pricesToKw.UFC?.kw_from || 0))}`
    >
    </div>
  </div> -->

  <div class="grid grid-cols-5 gap-0 relative z-2">
    <div class="col-span-1 text-left">
      {logo_url && (
          <img
            src={logo_url}
            alt={`${label} logo`}
            class="w-20 h-6 object-contain"
          />
        )}
    </div>
    <div class="col-span-1 text-left">
      <RowPrice price={prices.AC?.price} color="var(--ACcolor)" />
    </div>
    <div class="col-span-1 text-left">
      <RowPrice price={prices.DC?.price} color="var(--DCcolor)" />
    </div>
    <div class="col-span-1 text-left">
      <RowPrice price={prices.UFC?.price} color="var(--UFCcolor)" />
    </div>
    <div class="col-span-1 justify-center">
      <RowPrice price={monthlyFee} />
    </div>
  </div>
</div>

<style>
  .price-cover {
    background-color: black;
    height: 5px;
    opacity: 0.2;
  }

  .price-ac {
    background-color: var(--ACcolor);
  }
  .price-dc {
    background-color: var(--DCcolor);
  }

  .price-ufc {
    background-color: var(--UFCcolor);
  }
  .kw-row {
    position: relative;
    height: 28px;
  }
  /* .col {
    border-left: 1px solid rgba(128, 128, 128, 0.522);
    height: 20px;
  } */
</style>
