---
import providersData from "../data/providers.json";
import { translations, defaultLocale } from "../i18n/translations";
import ProviderRow from "./chartItems/ProviderRow.astro";
import CombinedProviderRow from "./chartItems/CombinedProviderRow.astro";
import Card from "./Card.astro";
import FeeSlider from "./chartItems/FeeSlider.astro";
import SortButton from "./chartItems/SortButton.astro";

// prepare the tarifs raw data
// on server, not client

const t = translations[defaultLocale].home;
const tariffs = Object.values(providersData.providers).flat();
const maxFee = Math.max(...tariffs.map((t) => t.monthlyFee));

const allTariffs = tariffs.map((t) => ({
  label: t.name,
  priceAC: t.prices.AC.price,
  priceDC: t.prices.DC.price,
  priceUFC: t.prices.UFC.price,
  prices: {
    AC: { price: t.prices.AC.price },
    DC: { price: t.prices.DC.price },
    UFC: { price: t.prices.UFC.price },
  },
  monthlyFee: t.monthlyFee,
  logo_url: t.logo_url,
}));

const maxPrices = {
  AC: Math.max(...tariffs.map((t) => t.prices.AC.price)),
  DC: Math.max(...tariffs.map((t) => t.prices.DC.price)),
  UFC: Math.max(...tariffs.map((t) => t.prices.UFC.price)),
};
---

<div
  id="charts-section"
  data-tariffs={JSON.stringify(allTariffs)}
  data-max-fee={maxFee}
  class="grid grid-cols-5 gap-6 items-start"
>
  <!-- Slider -->
  <FeeSlider maxFee={maxFee} colSpan="col-span-1" />

  <!-- Charts -->

  <div class="col-span-4 grid grid-cols-4 gap-6 text-center">
    <SortButton label="Fee/mth." sortKey="monthlyFee" />
    <SortButton label="AC" sortKey="AC" />
    <SortButton label="DC" sortKey="DC" />
    <SortButton label="UFC" sortKey="UFC" />
    
    {
      allTariffs.map((t) => (
        <Card title={t.label} logo_url={t.logo_url} colSpan="col-span-4">
        <CombinedProviderRow
          label={t.label}
          prices={t.prices}
          maxPrice={maxPrices}
          monthlyFee={t.monthlyFee}
          logo_url={t.logo_url}
          />
      </Card>
    ))
  }
  </div>

  <!-- <Card title={t.acPrice} colSpan="col-span-2">
    {
      tariffsByAC.map((tariff) => (
        <ProviderRow
          label={tariff.label}
          price={tariff.priceAC}
          maxPrice={maxPriceAC}
          monthlyFee={tariff.monthlyFee}
          logo_url={tariff.logo_url}
        />
      ))
    }
  </Card>

  <Card title={t.dcPrice} colSpan="col-span-2">
    {
      tariffsByDC.map((tariff) => (
        <ProviderRow
          label={tariff.label}
          price={tariff.priceDC}
          maxPrice={maxPriceDC}
          monthlyFee={tariff.monthlyFee}
          logo_url={tariff.logo_url}
        />
      ))
    }
  </Card> -->
</div>
