---
import providersData from "../data/providers.json";
import { translations, defaultLocale } from "../i18n/translations";
import ProviderRow from "./chartItems/ProviderRow.astro";
import Card from "./Card.astro";
import FeeSlider from "./chartItems/FeeSlider.astro";

// prepare the tarifs raw data
// on server, not client

const t = translations[defaultLocale].home;
const tariffs = Object.values(providersData.providers).flat();
const maxFee = Math.max(...tariffs.map((t) => t.monthlyFee));

const allTariffs = tariffs.map((t) => ({
  label: t.name,
  priceAC: t.priceAC,
  priceDC: t.priceDC,
  monthlyFee: t.monthlyFee,
}));

const tariffsByAC = [...allTariffs].sort((a, b) => a.priceAC - b.priceAC);
const tariffsByDC = [...allTariffs].sort((a, b) => a.priceDC - b.priceDC);

const maxPriceAC = Math.max(...allTariffs.map((t) => t.priceAC));
const maxPriceDC = Math.max(...allTariffs.map((t) => t.priceDC));
---

<div
  id="charts-section"
  data-tariffs={JSON.stringify(allTariffs)}
  data-max-fee={maxFee}
  class="grid grid-cols-5 gap-6 items-start"
>
  <!-- Slider -->
  <FeeSlider maxFee={maxFee} colSpan="col-span-1" />

  <!-- Charts -->
  <Card title={t.acPrice} colSpan="col-span-2">
    {
      tariffsByAC.map((tariff) => (
        <ProviderRow
          label={tariff.label}
          price={tariff.priceAC}
          maxPrice={maxPriceAC}
          monthlyFee={tariff.monthlyFee}
        />
      ))
    }
  </Card>

  <Card title={t.dcPrice} colSpan="col-span-2">
    {
      tariffsByDC.map((tariff) => (
        <ProviderRow
          label={tariff.label}
          price={tariff.priceDC}
          maxPrice={maxPriceDC}
          monthlyFee={tariff.monthlyFee}
        />
      ))
    }
  </Card>
</div>
